.validAccountRecover .input-box::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 36px;
    right: 9px;
    background: url(/assets/img/valid.png);
    background-size: cover;
    z-index: 1;
}

.invalidAccountRecover .input-box::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 36px;
    right: 9px;
    background: url(/assets/img/invalid.png);
    background-size: cover;
    z-index: 1;
}