body{
    font-family: 'Nunito Sans', sans-serif !important;
}

 /* nav */
.naviagtion-bar{
    background-color: #f4f6f8;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-weight: 600;
    line-height: 40px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
    FONT-WEIGHT: 700;
}
.nav-link .navbar-nav .nav-link a{
    transition: 0.5s ease;
}
