
/* css for header */
.header{
    /* background-color: var(--color-bg-gray); */
    background: linear-gradient(#fff1eb ,#ace0f9);
    /* background: linear-gradient(#accbee → #e7f0fd); */
}

.header p{
    color: rgba(0,0,0,.55);
    font-size: 20px;
    line-height: 30px;
}

.header h1{
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.header h1::after{
    content: '';
    height: 100px;
    background-image: url(/assets/img/marker.svg);
    width: 150px;
    background-repeat: no-repeat;
    position: absolute;
    right: 9px;
    bottom: -100px;
}

.header-icons i {
    margin-right: 8px;
    font-size: 31px;
    cursor: pointer;
    transition: 0.3s;
    width: 42px;
    height: 42px;
    background: linear-gradient(#A8DEE0,#F9E2AE);
    text-align: center;
    border-radius: 4px;
    line-height: 41px;
}
.header-icons i:hover{
    opacity: 0.5;
    color: #fff;
}

/* css for btn */

.header button{
    background-color: #f6e05e;
    width: 180px;
    height: 48px;
    color: black;
    font-size: 17px;
    font-weight: 700;
    transition: .4s;
}

.header button:hover{
    transform: translateY(-24px);
}


/* css for Img */
img.img-fluid.shadow {
    border-radius: 10px;
    cursor: pointer;
}

.img-fluid:hover{
    border-color: #fff1eb;
    opacity: 0.9;
}