body{
    font-family:  'Nunito Sans', sans-serif !important;
}
:root{
    /* declare variable background-color gray */
    --color-bg-gray:#f4f6f8;
}



/* css for title */
.title{
    margin-top: 80px;
    margin-bottom: 40px;
    position: relative;
    text-align: center;
}

.title h3:hover {
    background-color: #07cb79;
    color: white;
    transition: all .2s ease;
}

.title h3{
    border: 2px solid #07cb79;
    background: #fff none repeat scroll 0 0;
    color: #363636;
    display: inline-block;
    font-weight: 600;
    line-height: 40px;
    margin: 0;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
}
.title::before{
    border-top: 1px solid #b7b7b7;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}
